body {
    font-family: 'Poppins';
}

.navbar {
    background-color: #151515;
}

.nav-link.active {
    color: #F6DF2F !important;
    font-weight: 700;
}

.nav-link:hover {
    color: #f6df2fa9 !important;
}

.navbar-brand,
h2 {
    color: #F6DF2F !important;
}

.about {
    padding-top: 6rem;
    background-color: #151515;
}

.about a {
    color: white;
}


.my-role {
    color: #999 !important;
}

.recent,
.contact {
    background-color: #222;
}

.portfolio,
footer {
    background-color: #151515;
}

footer a {
    color: #F6DF2F;
    text-decoration: none;
}

footer a:hover {
    color: #f6df2fa9 !important;
}

section {
    padding-top: 5rem;
}

.btn {
    background-color: #F6DF2F;
}

.btn-send:hover {
    background-color: #f6df2fa9;
}

.bi-icon:hover {
    color: #F6DF2F;
}